<div class="text-break" id="message-<%= message.id %>">
  <p><%= message.content %></p>
  <div class="name">
    <% if message.sender?(current_user) && message.chatroom.doctor == current_user %>
      <%= "Dr. #{current_user.first_name} #{current_user.last_name}" %>
    <% elsif message.sender?(current_user) %>
      <%= "#{current_user.first_name} #{current_user.last_name}" %>
    <% elsif message.chatroom.doctor == current_user %>
      <%= "#{message.chatroom.patient.first_name} #{message.chatroom.patient.last_name}" %>
    <% else %>
      <%= "Dr. #{message.chatroom.doctor.first_name} #{message.chatroom.doctor.last_name}" %>
    <% end %>
  </div>
  <div class="time"><small><i><%= message.created_at.strftime("%a %b %e at %l:%M %p")%></i></small></div>
</div>
