<%= link_to dashboard_path, class: "back-arrow" do %>
  <i class="fa-solid fa-arrow-left"></i>
<% end %>
<div class="container chatroom" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
  <h1><%= current_user.is_doctor ? "#{@chatroom.patient.first_name} #{@chatroom.patient.last_name}" : "Dr. #{@chatroom.doctor.first_name} #{@chatroom.doctor.last_name}"%></h1>
    <div class="messages" data-chatroom-subscription-target="messages">
          <% @chatroom.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
          <% end %>
    </div>

    <%= simple_form_for [@chatroom, @message],
      html: { data: {action: "turbo:submit-end->chatroom-subscription#resetForm"}, class: "d-flex input-down"} do |f|
    %>
      <%= f.input :content,
        label: false,
        placeholder: current_user.is_doctor ? "Message #{@chatroom.patient.first_name} #{@chatroom.patient.last_name}" : "Message Dr. #{@chatroom.doctor.first_name} #{@chatroom.doctor.last_name}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
</div>
