
<div class="container chatroom" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <h1><%= !current_user.is_doctor ? "#{current_user.first_name} #{current_user.last_name}" : "Dr. #{current_user.first_name} #{current_user.last_name}"%></h1>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <%= simple_form_for [@chatroom, @message],
    html: { data: {action: "turbo:submit-end->chatroom-subscription#resetForm"}, class: "d-flex"} do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: current_user.is_doctor ? "Message #{current_user.first_name} #{current_user.last_name}" : "Message Dr. #{@chatroom.doctor.first_name} #{current_user.last_name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>

</div>
