<div class="book_box">
  <h1>Your bookings </h1>
  <div class="row">
    <div class="col align-self-center">
      <% current_user.patient_bookings.each do |booking| %>
        <div class="book_card">
          You have an appointment with psychologist
          <%= booking.doctor.first_name %> <%= booking.doctor.last_name %> on
          <%= booking.date.strftime("%b %e at %l:%M %p") %>
          <% chatroom = Chatroom.find_by(patient: booking.patient, doctor: booking.doctor) %>
          <%= link_to chatroom_path(chatroom), class: "btn-message" do %>
          <i class="fa-regular fa-paper-plane"></i>
          <% end %>
          <div class="canc_btn">
          <%= link_to "Cancel", booking_path(booking),  class: "btn-message",  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        </div>
      <% end %>
    </div>
 </div>
</div>
