<div class="book_box">
  <h1>My bookings </h1>
  <% current_user.patient_bookings.each do |booking| %>
    <div class="book_card">
      <div class="date-booking">
        <h3><%= booking.date.strftime("%b %e at %l:%M %p") %></h3>
        <h4>You have an appointment with psychologist
          <%= link_to doctor_path(booking.doctor) do  %>
            <strong><%= booking.doctor.first_name %> <%= booking.doctor.last_name %></strong>
          <% end %>
        </h4>
      </div>

    <div class=buttons>
      <div class="message-btn">
        <% chatroom = Chatroom.find_by(patient: booking.patient, doctor: booking.doctor) %>
        <%= link_to chatroom_path(chatroom), class: "btn-message" do %>
          Message
          <i class="fa-regular fa-paper-plane"></i>
        <% end %>
      </div>

      <div class="canc_btn">
        <%= link_to booking_path(booking),  class: "btn-cancel",  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
    </div>
    </div>
  <% end %>
</div>
