<%  @symptom.specializations.map  do  |spec|  %>
    <%= link_to doctor_path(spec.doctor), class: "recom-docs" do %>

      <div class="img-rat">
        <div class="img-av">
          <% if spec.doctor.photo.attached? %>
            <%= cl_image_tag spec.doctor.photo.key,gravity: :faces, height: 200, width: 200, crop: :thumb %>
          <% else %>
            <%= image_tag "icon.png" , height: 200, width: 200, crop: :fill %>
          <% end %>
        </div>

        <div class="rating">
          <br>
          <% unless spec.doctor.doctor_reviews.empty? %>
            <% array =  spec.doctor.doctor_reviews.map do |review| review.rating  end %>
            <%rat = array.sum / array.size %>
            <% rat.round.to_i.times do %>
            ⭐
            <% end %>
            (<%= array.size %>)
            <% end %>
        </div>
      </div>

      <div class="indexnew">
        <h4 class="bold-text"><%= spec.doctor.first_name %> <%= spec.doctor.last_name %></h4>
        <h5>Psychologist</h5>
        <br>
        <h5><i class="fa-solid fa-camera"></i> Online therapy</h5>
        <h5><i class="fa-solid fa-user"></i> In person therapy </h5>

        <h6><i class="fa-solid fa-circle-check"></i> Certified by Psy4U</h6>
      </div>
      <div class="indexnew">
        <h4 class="bold-text">Specialization:</h4>
        <% spec.doctor.symptoms.each do |s|  %>
        <h5><%= s.name %></h5>
        <% end %>
      </div>

      <div class="indexnew">
        <h4 class="bold-text">Address:</h4>
        <h5> <i class="fa-solid fa-location-dot"></i>
        <%= spec.doctor.address %></h5>
        <br>
        <h5>€<%= spec.doctor.price_session %>/session</h5>
         <br>
        <h5> <i class="fa-solid fa-calendar-days"></i> Available on a weekly basis</h5>
        <br>
        <br>

      </div>
    <% end %>
<% end %>
