<div class="containerr">
  <div class="welcome-card">
    <h1>Find the right path to recovery with the right psy 4 U</h1>
    <br>
    <br>
    <h2>Here, you'll find a curated selection of experienced psychologists committed to providing expert guidance and support tailored to your unique needs.</h2>
  </div>
  <br>
  <div class="search-card">
    <div>
      <div class="slider-container">
        <label class="switch">
        <input type="checkbox" id="slider">
        <span class="slider"></span>
        </label>
      </div>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Enter your postal code..." style="width: 100%" >
    </div>
    <div>
    <%= link_to "Search", doctors_path, class: "search-button" %>
    </div>
  </div>

  <div class="cards">
    <%= link_to doctors_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1493836512294-502baa1986e2?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGRlcHJlc3Npb24lMjBhbnhpZXR5fGVufDB8fDB8fHww)">
        Depression
      </div>
    <% end %>
    <%= link_to doctors_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1620486729163-23b5225ae75d?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGFueGlldHl8ZW58MHx8MHx8fDA%3D)">
        Anxiety
      </div>
      <% end %>

    <%= link_to doctors_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1500099817043-86d46000d58f?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
        OCD
      </div>
    <% end %>

    <%= link_to doctors_path do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1635436367446-f2961c6fc883?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
      Trauma
    </div>
    <% end %>
    <%= link_to doctors_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1662729217313-aba95936c5b3?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
        PTSD
      </div>
      <% end %>

    <%= link_to doctors_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://plus.unsplash.com/premium_photo-1689177356594-b988a1cc45ff?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
        ADHD
      </div>
      <% end %>

    <%= link_to doctors_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1543250903-0eaa21ef14b3?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
        Eating Disorders
      </div>
    <% end %>

    <%= link_to doctors_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1542662803-2f01b9f541db?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
        Couple Therapy
      </div>
      <% end %>
  </div>


</div>
