<%= link_to root_path, class: "back-arrow" do %>
  <i class="fa-solid fa-arrow-left"></i>
<% end %>

<h2 class="title">Our psychologists in your area</h2>
<div class="docx_box">

  <% @doctors.each do |doctor| %>
    <%= link_to doctor_path(doctor), class: "docs-box" do %>
        <div class="img-rat">
          <div class="img-av">
              <% if doctor.photo.attached? %>
                <%= cl_image_tag doctor.photo.key,gravity: :faces, height: 200, width: 200, crop: :thumb %>
              <% else %>
                <%= image_tag "icon.png" , height: 300, width: 300, crop: :fill %>
              <% end %>
          </div>
          <div class="rating">
            <br>
            <% unless doctor.doctor_reviews.empty? %>
              <% array =  doctor.doctor_reviews.map do |review| review.rating  end %>
                <%rat = array.sum / array.size %>
                <% rat.round.to_i.times do %>
                  ⭐
                <% end %>
                (<%= array.size %>)
            <% end %>
          </div>
        </div>



        <div class="indexnew">
            <h4 class="bold-text"><%= doctor.first_name %> <%= doctor.last_name %></h4>
            <br>
            <h5><i class="fa-solid fa-camera"></i> Online therapy</h5>
            <h5><i class="fa-solid fa-user"></i> In person therapy </h5>
            <br>

            <br>
            <br>
            <h6><i class="fa-solid fa-circle-check"></i> Certified by Psy4U</h6>
        </div>
        <div class="indexnew">
            <h4 class="bold-text">Specialization:</h4>
            <br>
            <% doctor.symptoms.each do |s|  %>
            <h5><%= s.name %></h5>
            <% end %>
        </div>
        <div class="indexnew">
            <h4 class="bold-text">Address:</h4>
            <br>
            <h5> <i class="fa-solid fa-location-dot"></i> <%= doctor.address %></h5>
            <br>
            <h5>€<%= @doctor.price_session %>/session</h5>
            <br>
            <h5><i class="fa-solid fa-calendar-days"></i> Available on a weekly basis</h5>
            <br>
            <br>
            <br>

        </div>


      <% end %>
    <% end %>
</div>
