<div class="">

  <%= link_to doctors_path, class: "back-arrow" do %>
  <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <div class="box">
    <div class="box1">

      <div class="box-div">
        <% if @doctor.photo.attached? %>
            <%= cl_image_tag @doctor.photo.key,gravity: :faces, height: 200, width: 200, crop: :fill %>
          <% else %>
            <%= image_tag "icon.png" , height: 200, width: 200, crop: :fill %>
          <% end %>
        <div class="rate">
          <% unless @doctor.doctor_reviews.empty? %>
            <% array =  @doctor.doctor_reviews.map do |review| review.rating  end %>
                <%rat = array.sum / array.size %>
                <% rat.round.to_i.times do %> ⭐ <% end %>
          <% end %>
        </div>
      </div>



      <div class="box-div-name">
        <h2><%= @doctor.first_name %> <%= @doctor.last_name %></h2>
        <h5>Online Therapy & In Person Therapy</h5>
        <br>
        <h6>Specialization:</h6>
        <h5>Couples Therapy</h5>
      </div>

      <div class="box-div">
      <h6>Contacts:</h6>
      <h5> <i class="fa-solid fa-phone"></i> +32 455 789</h5>
      <h5> <i class="fa-solid fa-envelope"></i> <%= @doctor.email %></h5>
      </div>

    </div>


    <div class="box2">
    <br>
    <p>About <%= @doctor.first_name %>: </p>
    <p> Welcome to my corner of insight and understanding. As a dedicated psychologist, I'm committed to guiding individuals through their unique journeys of self-discovery and healing. With a blend of empathy, expertise, and a passion for mental wellness, I strive to create a safe, nurturing space where my clients can explore, grow, and thrive. Join me as we navigate the complexities of the human mind and embark on a transformative path toward well-being and fulfillment
    </p>
    </div>


    <div class="box3">
      <%= simple_form_for([@doctor, @booking], url: doctor_bookings_path(@doctor)) do |f| %>
      <%= f.input :date, :label => "Choose a date",
          as: :string,
          input_html: { data: { controller: "datepicker" } }%>
      <%= f.submit "Book", class: "btn-message" %>
      <% end %>
    </div>

    <div class="box4">
    <div class="div-rev">
      <h5>Reviews</h5>
      <div><%= link_to "Review", new_doctor_review_path(@doctor), class: "btn-message"%></div>
    </div>
      <%if @doctor.doctor_reviews %>
        <% @doctor.doctor_reviews.each do |review| %>
          <div class="box-div">
            <div>
            <%= review.comment %>
            <%  review.rating.to_i.times do  %>⭐<% end %>
            </div>
            <hr>
          </div>
        <% end %>
        <% else %>
          <h5>No reviews yet ... </h5>
        <% end %>
    </div>
  </div>
</div>
